@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
</div>


<body style="color:white; font-weight:bold;">
    <h1 style="color:white;">Welcome to <strong>Active Register</strong></h1>
    <p style="color:white;">If you do not see your Contact Details make sure to <strong>REGISTER!</strong> for ease of Contact.</p>



</body>